# WebScrapping Using "SELENIUM"

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
# installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\hifzu\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hifzu\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [67]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [68]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [36]:
link= "https://www.naukri.com"
driver.get(link)

In [37]:
key= driver.find_element_by_id('qsb-keyword-sugg')
key

In [38]:
#Feeding text in  job search bar
key.send_keys("Data Analyst")

In [39]:
# Feeding text in location search bar
loc= driver.find_element_by_xpath("//input[@placeholder='Enter Locations…']")
loc.send_keys('Bangalore')

In [40]:
# Click on "Search"
search= driver.find_element_by_xpath("//div[@class='search-btn']")
search.click()

 Scrapping 10 JOB Title from the output page

In [41]:
name= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [42]:
Name=[]
for k in name:
    Name.append(k.text)
Name[:10]

['Executive Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - I/II',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Business Data Analyst - MIS & Reporting',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Associate, Data Hierarchy Analyst( MDM)',
 'Product Data Analyst']

Scrapping first 10 job locations

In [43]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [44]:
Loc=[]
for k in loc:
    Loc.append(k.text)
Loc[:10]

['Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Bellandur)\n(WFH during Covid)',
 'Bangalore/Bengaluru(Bellandur)\n(WFH during Covid)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

Scrapping first 10 company name

In [45]:
com= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [46]:
Com=[]
for k in com:
    Com.append(k.text)
Com[:10]

['Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'Philips India Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'INTERTRUST GROUP',
 'Flipkart',
 'Flipkart',
 'GENPACT India Private Limited',
 'Trifacta']

Scrapping 10 "job experience required"

In [47]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [48]:
Exp=[]
for k in exp:
    Exp.append(k.text)
Exp[:10]

['0-3 Yrs',
 '8-12 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '2-5 Yrs']

Creating DataFrame of searched data

In [49]:
Search_result=pd.DataFrame({})
Search_result['Job-Title']=Name[:10]
Search_result['Job-Location']=Loc[:10]
Search_result['Company-Name']=Com[:10]
Search_result['Experience-Required']=Exp[:10]
Search_result

,Job-Title,Job-Location,Company-Name,Experience-Required
0,Executive Data Analyst,Bangalore/Bengaluru,Gokaldas Exports Ltd,0-3 Yrs
1,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Virtusa Consulting Services Pvt Ltd,8-12 Yrs
2,Data Analyst - I/II,Bangalore/Bengaluru,Philips India Limited,3-6 Yrs
3,Hiring For the role - DATA Analyst (Flipkart),Bangalore/Bengaluru(Bellandur)\n(WFH during Co...,Allegis Services India Pvt. Ltd.,1-6 Yrs
4,Hiring For the role - DATA Analyst (Flipkart),Bangalore/Bengaluru(Bellandur)\n(WFH during Co...,Allegis Services India Pvt. Ltd.,1-6 Yrs
5,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,2-3 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-8 Yrs
8,"Senior Associate, Data Hierarchy Analyst( MDM)",Bangalore/Bengaluru,GENPACT India Private Limited,1-3 Yrs
9,Product Data Analyst,Bangalore/Bengaluru,Trifacta,2-5 Yrs

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [1]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [3]:
# linking webpage to web driver
link= "https://www.naukri.com"
driver.get(link)

In [4]:
keyword= driver.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']")
keyword

In [5]:
#Feeding text in  job search bar
keyword.send_keys("Data Scientist")

In [6]:
# Feeding text in location search bar
loc= driver.find_element_by_xpath("//input[@placeholder='Enter Locations…']")
loc.send_keys('Bangalore')

In [7]:
# Click on "Search"
search= driver.find_element_by_xpath("//div[@class='search-btn']")
search.click()

Scrapping JOB Title from the page

In [8]:
name= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [9]:
Name=[]
for k in name:
    Name.append(k.text)

Scrapping job locations

In [10]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [11]:
Loc=[]
for k in loc:
    Loc.append(k.text)

Scrapping Companies Name

In [12]:
com= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [13]:
Com=[]
for k in com:
    Com.append(k.text)

Scrapping Job Description

In [14]:
# Getting links of all pages
link= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [15]:
job_link=[]
for k in link:
    job_link.append(k.get_attribute('href'))

In [16]:
len(job_link)

20

In [17]:
import time

In [28]:
Des=[]
for k in job_link:
    driver.get(k)
    time.sleep(2)
    try:
        content= driver.find_element_by_xpath("//div[@class='dang-inner-html']").text.replace('\n'," ").replace('\n\n'," ")
    
        Des.append(content)
    except:
        pass

['Responsibilities include: Defining and evaluating key metrics and understanding what moves them and why Ownership of conceptualizing, developing, and maintaining dashboards and visualizations Investigating evolving fraud trends to extract patterns, identify root causes and propose actionable solutions Communicating analyses and recommendations to cross functional stakeholders for decision making Empowering the team to answer data questions quickly and easily by building high-quality ground truth data sets Here are example traits we value: Professional industry experience in a quantitative analysis role (7+ years preferred) Comfortable in SQL and some experience with a programming language (Python or R a plus) Ability to communicate clearly and effectively to cross functional partners of varying technical levels Ability to define relevant metrics that can guide and influence stakeholders to the appropriate and accurate insights Experience or willingness to learn tools to create data pipelines using Airflow Building clear and easy to understand dashboards (Tableau) and presentations',
 '  Skills Required Skills: Data Science, Machine Learning, Deep Learning, Python, NLP Desired Skills: Computer Vision Roles and responsibilities Experience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, Statistics Have ability to solve Business problems using Data Should possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasets High level of proficiency in statistical tools like R, Python Candidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights. Have the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problems Good to Have Expertise in programming languages like Java/C/C /Python Experience with relational databases and SQL is good to have Experience in audio and video analytics Relevant experience in Big Data platforms like Hadoop eco-system Come up with innovative algorithms and solutions Staffing Type:Permanent',
 'Required Technical and Professional Expertise • 6+ years of industry work experience in data scientist projects • Master’s degree or higher in Statistics/Math/Computer Science or related field • Background in applied statistical modeling on large experimental or observational data sets • Experience extracting data from a variety of sources, and a desire to expand those skills (working knowledge SQL is required, Spark is a plus) • Experience with one or more statistical or machine learning software such as R, Python, etc. • Must showcase past work through published articles/GitHub/social media  Preferred Technical and Professional Expertise • Knowledge of distributed computing systems, e.g. Cosmos, Spark, Hadoop, and relational database management system • PhD. in Statistics is preferred • You love collaborative environments that use agile methodologies to encourage creative design thinking and find innovative ways to develop with cutting edge technologies • Ambitious individual who can work under their own direction towards agreed targets/goals and with creative approach to work • Intuitive individual with an ability to manage change and proven time management • Proven interpersonal skills while contributing to team effort by accomplishing related results as needed',
 'Department- BIRS (Business Intelligence Risk Solutions)  JD Statistical Analyst/ Data scientist: Client oriented approach to problem solving. Individual should be able to have a holistic view of multiple businesses and develop analytic solutions accordingly. Own and deliver multiple and complex analytic projects. This would require an understanding of business context, conversion of business problems in modeling, and implementing such solutions to create business value. Always up to date with the latest use cases of modeling community, machine learning and deep learning algorithms and share knowledge within the team. Proficiency in basic statistics, hypothesis testing, segmentation and predictive modeling. Ability to translate and articulate technical thoughts and ideas to a larger audience including influencing skills with peers and senior management. Strong project management skills. Ability to coach and mentor juniors. Eagerness to work on new and challenging tasks on a regular basis with an ability to research new ways of doing things better/efficiently. Contribute to organizational initiatives in wide ranging areas including competency development, training, organizational building activities etc. Basic Qualifications  Bachelor’s Degree with 2+ years of experience in data analytics, Hands-on experience in Python / SAS or R programing along with strong experience in SQL and Excel Macros. Experienced in working with large and multiple datasets, data warehouses and ability to pull data using relevant programs and coding. Well versed with necessary data preprocessing and feature engineering skills. At least 2 years of experience implementing Machine learning algorithms such as Random Forest and Gradient Boosting in solving business problems such as Default classification and macroeconomic forecasting. At least 1 year of experience implementing deep learning techniques like neural networks Exposure to deep learning packages like Tensorflow Strong background in Statistical Analysis Background in BFSI space will be preferredRoles and Responsibilities  If anyone interested, please share your resume to below mail id:-  Soundarya.s@manpower.co.in;',
 'Use predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes Work with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled. Selecting features, building and optimizing classifiers using machine learning and deep learning techniques Collaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems Processing, cleansing, and verifying the integrity of data used for analysis Develop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models. Adherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata. Job Qualifications: Master s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development Experience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc. Strong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc Having strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning Strong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners. Deep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent Experience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools. Proficiency in using query languages, such as SQL, PL/SQL Hands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc. Good applied statistics skills, such as distributions, statistical testing, regression, etc. Good ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition. A team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation. Ability to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines A flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization. A self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science',
 "Job description:  Seeking senior data scientists for project-based roles that involve working on various projects.  The candidate must have experience in Python coding language and machine learning. The candidate will be working on a part-time basis and hours will be flexible based on the candidate's availability. Opportunity to grow in a startup setting. What you'll need: B.Tech in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects. M.Tech or Ph.D. in CS or Statistics with demonstrable experience of over 3 years through publications/deployed solutions/projects. A deep understanding of applied statistical analysis and predictive modeling is desired. The candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis, etc. It is not expected that the candidate has actually worked on all these modules. Strong proficiency in Python or R is necessary",
 'Roles and Responsibilities We are looking for someone who would be responsible for analyzing data and providing business insights. As a Data Scientist your responsibilities will include understanding the business problem and experimenting with different modelling architectures to create the best possible setup from model performance as well as computational performance. To do this job successfully, you need exceptional skills in Machine Learning and Programming. Your ultimate goal will be to find the best data-based solution for the problem at hand. Moreover, you are expected to learn fast and deliver quickly in a fast-paced startup environment. If you thrive on ambiguity and are a problem solver and yet deliver value to clients, feel free to reach out to us. We are looking ONLY FOR SELF DRIVEN INDIVIDUALS with a desire to excel in Data Science Domain. Understanding business objectives and developing models that help to achieve them, along with metrics to track their progress Develop and maintain robust data processing pipelines and reproducible modeling pipelines Build mathematical models to solve various problems ranging from Time Series forecasting to Neural Networks and ensure seamless deployment in production pipelines. Analyze experimental results, iterate and refine models to create significant business impact Follow strict coding standards and other software engineering best practices   Desired Candidate Profile Proven experience as a Data Scientist or similar role Strong SQL, R/Python Skills Should have familiarity with Machine Learning Models and fundamentals in Forecasting and Optimization Techniques Should have strong mathematical background & analytical bent of mind Strong Problem-Solving Ability Ability to communicate well in a highly collaborative team environment, consisting of both technical and non-technical personnel Reliable self-starter that is capable of working with a high degree of autonomy   Perks and Benefits  NeenOpal is a global management consulting firm with a unique and specialized focus on Data Science. We provide services across the whole value chain of an organization - Digital Strategy, Sales & Marketing, Supply Chain & Logistics as well as Finance. Youll have a blast doing it in our fun, passionate environment.',
 'Hi,  We at Prescience www.prescienceds.com looking for Data Scientist @ Bangalore .  Roles and Responsibilities As a Data Scientist you will be working with senior management of clients to understand the business requirements, define right problem statement and come up with a framework for the solution. You will also work on the solution and at time guide a small team to deliver the same. Part of job role would be develop products in the area of Natural Language Processing, Conversational Interfaces, Text Mining etc.  Desired Candidate Profile What we are looking for: Good applied statistics skills, such as distributions, statistical testing, regression, etc. Experience in Natural Language Processing, Computer Vision. Exposure to common data science business problems like clustering, classification, anomaly detection, prediction etc. Good understanding of machine learning techniques and algorithms Experience with common data science toolkits Python, R, SAS Proficiency in using query languages such as SQL, Hive, etc Experience with NoSQL database, SQL Server, PostgreSQL, MongoDB Great communication skills Data-oriented personality and excellent business analysis skills Experience in solutioning for data science related problems, work with business stakeholders to define right problem statement and solution. Open to professionals who have data analytics / BI background and then moved to Data Scientist roles.  Perks and Benefits',
 'CRISIL (formerly Credit Rating Information Services of India Limited) is an Indian analytical company providing ratings, research, and risk and policy advisory services and is a subsidiary of American company S&P Global  We are looking Data Scientist for Mumbai & Bangalore location Candidates who can join immediately or within 30-45 need only apply  Please refer below JD for your reference-  Job Description Data scientist: Client oriented approach to problem solving. Individual should be able to have a holistic view of multiple businesses and develop analytic solutions accordingly. Own and deliver multiple and complex analytic projects. This would require an understanding of business context, conversion of business problems in modeling, and implementing such solutions to create business value. Always up to date with the latest use cases of modeling community, machine learning and deep learning algorithms and share knowledge within the team. Proficiency in basic statistics, hypothesis testing, segmentation and predictive modeling. Ability to translate and articulate technical thoughts and ideas to a larger audience including influencing skills with peers and senior management. Strong project management skills. Ability to coach and mentor juniors. Eagerness to work on new and challenging tasks on a regular basis with an ability to research new ways of doing things better/efficiently. Contribute to organizational initiatives in wide ranging areas including competency development, training, organizational building activities etc. Skills  Basic Qualifications  Bachelors Degree with 2+ years of experience in data analytics, Hands-on experience in Python / SAS or R programing along with strong experience in SQL and Excel Macros. Experienced in working with large and multiple datasets, data warehouses and ability to pull data using relevant programs and coding. Well versed with necessary data preprocessing and feature engineering skills. At least 2 years of experience implementing Machine learning algorithms such as Random Forest and Gradient Boosting in solving business problems such as Default classification and macroeconomic forecasting. At least 1 year of experience implementing deep learning techniques like neural networks Exposure to deep learning packages like Tensorflow Strong background in Statistical Analysis Background in BFSI space will be preferred',
 'Roles and Responsibilities Job Description: Develop data powered insights deriving from distributed, real time streaming applications, and develop AI systems leveraging on such data powered insights. Looking for candidates with passion and energy to work in a high energy team with entrepreneurial culture: Self starter attitude, quick learning aptitude, passion and willingness to deliver on time with quality.  Job Skills Required: Expert data science skills using supervised and unsupervised learning. Deep learning. Compute: Spark/Storm/NiFi/Flink/Redis, or other. Visualization: Banana UI, Kibana, or other, Tools: H2O, TensorFlow, Mlib, Scikit, Keras or other. Messaging: Kafka, RabbitMQ, or other.  Strong Analytical and Math/Statistics skills.  Qualification : M.Tech/M.E./M.S. in Computer Science, Engineering or a related field, preferably with a concentration, major or minor in Data Science or Machine Learning. PhD would be added advantage.  Desired Candidate Profile Desirable s that would strengthen candidacy:  Proven track record from public competitions such as from Kagel, Analytics Vidya, etc.   Expertise in one or more high level programming languages such as Java, Scala, Python, Go, Erlang, etc.  Expertise in developing scalable applications in a distributed environment.  Strong SQL or NoSQL skills with one or more open source DBMS such as MySql, MongoDB, Cassandra.  Expertise in containerized environments on private or public clouds - Aws Azure, etc.',
 'Roles and Responsibilities Job Description: Develop data powered insights deriving from distributed, real time streaming applications, and develop AI systems leveraging on such data powered insights. Looking for candidates with passion and energy to work in a high energy team with entrepreneurial culture: Self starter attitude, quick learning aptitude, passion and willingness to deliver on time with quality.  Job Skills Required: Expert data science skills using supervised and unsupervised learning. Deep learning. Compute: Spark/Storm/NiFi/Flink/Redis, or other. Visualization: Banana UI, Kibana, or other, Tools: H2O, TensorFlow, Mlib, Scikit, Keras or other. Messaging: Kafka, RabbitMQ, or other.  Strong Analytical and Math/Statistics skills.  Qualification : M.Tech/M.E./M.S. in Computer Science, Engineering or a related field, preferably with a concentration, major or minor in Data Science or Machine Learning. PhD would be added advantage.  Desired Candidate Profile Desirable s that would strengthen candidacy:  Proven track record from public competitions such as from Kagel, Analytics Vidya, etc.   Expertise in one or more high level programming languages such as Java, Scala, Python, Go, Erlang, etc.  Expertise in developing scalable applications in a distributed environment.  Strong SQL or NoSQL skills with one or more open source DBMS such as MySql, MongoDB, Cassandra.  Expertise in containerized environments on private or public clouds - Aws Azure, etc.',

Creating DataFrame of 10 searched job

In [29]:
Search_result=pd.DataFrame({})
Search_result['Job-Title']=Name[:10]
Search_result['Job-Location']=Loc[:10]
Search_result['Company-Name']=Com[:10]
Search_result['Job-Description']=Des[:10]
Search_result

,Job-Title,Job-Location,Company-Name,Job-Description
0,Lead Data Scientist BFSI,Bengaluru/Bangalore,IBM India Pvt. Limited,Responsibilities include: Defining and evaluat...
1,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited,"Skills Required Skills: Data Science, Machin..."
2,Senior Data Scientist,Bangalore/Bengaluru,Airbnb,Required Technical and Professional Expertise ...
3,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Happiest Minds Technologies Pvt.Ltd,Department- BIRS (Business Intelligence Risk S...
4,Data Scientist (Python & SQL),"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",AVE-Promagne,Use predictive modeling to increase and optimi...
5,Hiring For Data Scientist / Statistical Analyst,Bangalore/Bengaluru,ManpowerGroup Services India Private Limited,Job description: Seeking senior data scientis...
6,Sr Data Scientist,Bengaluru/Bangalore,IBM India Pvt. Limited,Roles and Responsibilities We are looking for ...
7,Sr Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,"Hi, We at Prescience www.prescienceds.com loo..."
8,Associate Data Scientist,Bangalore/Bengaluru,Philips India Limited,CRISIL (formerly Credit Rating Information Ser...
9,Freelance Data Scientist Project Based,Remote,Shikvix,Roles and Responsibilities Job Description: De...

### 3. In this question you have to scrape data using the filters available on the webpage

### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company_name, experience_required.
### The location filter to be used is “Delhi/NCR”.
### The salary filter to be used is “3-6” lakhs.

In [33]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [34]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [35]:
# linking webpage to web driver
link= "https://www.naukri.com"
driver.get(link)

In [36]:
keyword= driver.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']")
keyword

In [37]:
#Feeding text in  job search bar
keyword.send_keys("Data Scientist")

In [38]:
# Click on "Search"
search= driver.find_element_by_xpath("//div[@class='search-btn']")
search.click()

In [47]:
# Selecting Delhi/NCR
loc_filter=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")

loc_filter.click()

In [48]:
# Selecting salary range 3-6 lakhs
sal_filter= driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal_filter.click()

In [69]:
#Scrapping job title:
job=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [70]:

Job=[]
for k in job:
    Job.append(k.text)

In [71]:
#Scrapping company name:
com=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [72]:

Com=[]
for k in com:
    Com.append(k.text)

In [73]:
#Scrapping locations name:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [74]:

Loc=[]
for k in loc:
    Loc.append(k.text)

In [75]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [76]:
Exp=[]
for k in exp:
    Exp.append(k.text)

In [78]:
Job_result=pd.DataFrame({})
Job_result['Job-Title']=Job[:10]
Job_result['Company-Name']=Com[:10]
Job_result['Job-Location']=Loc[:10]
Job_result['Exp-Req']=Exp[:10]
Job_result

,Job-Title,Company-Name,Job-Location,Exp-Req
0,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs
1,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-5 Yrs
2,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,Gurgaon/Gurugram\n(WFH during Covid),1-3 Yrs
3,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram",0-0 Yrs
4,Data Scientist,R Systems International Ltd.,Noida\n(WFH during Covid),3-6 Yrs
5,Data Scientist / Data Analyst,CARS24,Gurgaon/Gurugram,1-5 Yrs
6,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",3-7 Yrs
7,Immediate Openings For Data Scientist For Wipr...,IDESLABS PRIVATE LIMITED,Gurgaon/Gurugram,5-10 Yrs
8,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",0-0 Yrs
9,Data Scientist,Kusum Healthcare Pvt. Ltd.,Delhi / NCR(Okhla),4-6 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. From  https://www.glassdoor.co.in/index.htm

In [79]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [84]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [85]:
# linking webpage to web driver
link= " https://www.glassdoor.co.in/index.htm"
driver.get(link)

In [91]:
#Feeding text in  job search bar
keyword= driver.find_element_by_xpath("//input[@aria-label='Search Keyword']")
keyword.send_keys("Data Scientist")

In [92]:
#Feeding text in location bar
location= driver.find_element_by_xpath("//input[@aria-label='Search Location']")
location.send_keys("Noida")

In [93]:
# Click on "Search"
search= driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7']")
search.click()

Scrapping Data from the searched result page:

In [128]:
# Scrapping Companies Name:
com=driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']")

In [127]:
Com=[]
for k in com:
    Com.append(k.text.replace('\n'," ").replace('\n\n'," "))

In [101]:
# Scrapping Posting date:
age=driver.find_elements_by_xpath("//div[@data-test='job-age']")
len(age)

30

In [104]:
Age=[]
for k in age:
    Age.append(k.text)

In [113]:
# Scrapping Rating:
rate=driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")

In [126]:
Rate=[]
for k in rate:
    Rate.append(k.text)

In [130]:
#Creating DataFrame:
Job_result=pd.DataFrame({})
Job_result['Company-Name']=Com[:10]
Job_result['Job-Posting']=Age[:10]
Job_result['Company-Rating']=Rate[:10]
Job_result

                             Company-Name Job-Posting Company-Rating
0    Liberin Technologies Private Limited        30d+            3.5
1                          Grail Insights         24h            3.9
2  AlgoScale Technologies Private Limited         14d            3.5
3                              Noisy Lion         24h            3.8
4                          Grail Insights         24h            3.3
5            Salasar New Age Technologies        30d+            3.6
6                                Techlive        30d+            3.8
7                               Innovacer        30d+            3.9
8            Salasar New Age Technologies        30d+            4.2
9                         Newgen Software        30d+            4.1

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
#### scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [187]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [188]:
# linking webpage to web driver
link= "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(link)

In [189]:
#Feeding text in  job search bar
keyword= driver.find_element_by_xpath("//input[@name='sc.keyword']")
keyword.send_keys("Data Scientist")

In [192]:
#Feeding text in location bar
location= driver.find_element_by_xpath("//input[@class='loc']")
location.send_keys("Noida")

In [193]:
# Click on "Search"
search= driver.find_element_by_xpath("//button[@type='submit']")
search.click()

Scrapping Data From the Page

In [194]:
# Scrapping Companies Name:
com=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

In [195]:
Com=[]
for k in com:
    Com.append(k.text)

In [196]:
#Scraping Number of salaries:
num=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")

In [197]:
Num=[]
for k in num:
    Num.append(k.text)

In [198]:
#Scrapping Avrage Salary:
avrg=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

In [199]:
Avrage=[]
for k in avrg:
    Avrage.append(k.text.replace('\n',""))

In [213]:
#scrapping Minimum and Maximum Salary:
min=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']")

Min=[]

for k in min:
    Min.append(k.text.replace('\n',"")[:3])
    
Min

['₹4L',
 '₹1L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹8L',
 '₹8L',
 '₹10',
 '₹5L',
 '₹6L',
 '₹4L',
 '₹2L',
 '₹4L',
 '₹6L',
 '₹10',
 '₹8L',
 '₹10',
 '₹9L',
 '₹12',
 '₹5L']

In [216]:
#scrapping Maximum Salary:
min=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']")

Max=[]

for k in min:
    Max.append(k.text.replace('\n',"")[3::])
    
Max

['₹13L',
 '₹28L',
 '₹23L',
 '₹1Cr',
 '₹17L',
 '₹16L',
 '₹20L',
 'L₹18L',
 '₹15L',
 '₹16L',
 '₹13L',
 '₹19L',
 '₹21L',
 '₹17L',
 'L₹21L',
 '₹21L',
 'L₹30L',
 '₹15L',
 'T₹64T',
 '₹73L']

In [201]:
#scrapping Rating of Companies:
rate=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")

Rate=[]
for k in rate:
    Rate.append(k.text.replace('\n',""))

In [217]:
#Creating DataFrame:
Salary_data=pd.DataFrame({})
Salary_data['Company-Name']=Com[:10]
Salary_data['No. of Salary']=Num[:10]
Salary_data['Avrage Salary']=Avrage[:10]
Salary_data['Minimum Salary']=Min[:10]
Salary_data['Maximum Salary']=Max[:10]
Salary_data['Company-Rating']=Rate[:10]
Salary_data

,Company-Name,No. of Salary,Avrage Salary,Minimum Salary,Maximum Salary,Company-Rating
0,Tata Consultancy Services,21 salaries,"₹6,31,184 /yr",₹4L,₹13L,3.9
1,IBM,20 salaries,"₹9,08,246 /yr",₹1L,₹28L,3.9
2,Accenture,15 salaries,"₹11,93,390 /yr",₹6L,₹23L,4.1
3,Delhivery,15 salaries,"₹12,49,716 /yr",₹5L,₹1Cr,3.8
4,Ericsson-Worldwide,14 salaries,"₹7,58,335 /yr",₹4L,₹17L,4
5,UnitedHealth Group,14 salaries,"₹12,80,000 /yr",₹8L,₹16L,3.7
6,Optum,10 salaries,"₹13,55,086 /yr",₹8L,₹20L,3.7
7,Optum Global Solutions,10 salaries,"₹14,55,430 /yr",₹10,L₹18L,3.9
8,Valiance Solutions,10 salaries,"₹8,86,064 /yr",₹5L,₹15L,4.2
9,EXL Service,9 salaries,"₹11,10,000 /yr",₹6L,₹16L,3.6

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [253]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [254]:
# linking webpage to web driver
link= "https://www.flipkart.com"
driver.get(link)

In [255]:
#Feeding text in  product search bar
keyword= driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
keyword.send_keys("sunglasses")

In [256]:
# Click on "Search"
search= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [257]:
# Scrapping Brand Name:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Brand=[]
for k in brand:
    Brand.append(k.text.replace('\n',""))

In [258]:
# Scrapping Product description:
des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Des=[]
for k in des:
    Des.append(k.text.replace('\n',""))

In [259]:
# Scrapping Price:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price=[]
for k in price:
    Price.append(k.text.replace('\n',""))

In [260]:
# Scrapping Price Discount:
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Disc=[]
for k in disc:
    Disc.append(k.text.replace('\n',""))

Page 2

In [266]:
# Going to nextpage:
next = driver.find_element_by_xpath("//a[@class='ge-49M']")
next.click()

In [280]:
# Scrapping Brand name from page 2:
brand2= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Brand2=[]
for k in brand2:
    Brand2.append(k.text)

In [283]:
# Scrapping Product description from page 2:
des2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Des2=[]
for k in des2:
    Des2.append(k.text.replace('\n',""))

In [286]:
# Scrapping Price from page 2:
price2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price2=[]
for k in price2:
    Price2.append(k.text.replace('\n',""))

In [284]:
# Scrapping Price Discount from page 2:
disc2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Disc2=[]
for k in disc2:
    Disc2.append(k.text.replace('\n',""))

Page 3

In [317]:
# Going to page3:
next3 = driver.find_element_by_xpath("//a[@class='ge-49M _2Kfbh8']")
next3.click()

In [318]:
# Scrapping Brand name from page 3:
brand3= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Brand3=[]
for k in brand3:
    Brand3.append(k.text)

In [324]:
# Scrapping Product description from page 3:
des3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Des3=[]
for k in des3:
    Des3.append(k.text.replace('\n',""))

In [322]:
# Scrapping Price from page 3:
price3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price3=[]
for k in price3:
    Price3.append(k.text.replace('\n',""))

In [320]:
# Scrapping Price Discount from page 3:
disc3=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Disc3=[]
for k in disc3:
    Disc3.append(k.text.replace('\n',""))

In [328]:
#Creating DataFrame:
Sunglasses=pd.DataFrame({})
Sunglasses['Brand-Name']=Brand+Brand2[:21]+Brand3
Sunglasses['Price']=Price+Price2[:21]+Price3
Sunglasses['Discount']=Disc+Disc2[:21]+Disc3
Sunglasses['Description']=Des+Des2[:21]+Des3
Sunglasses

,Brand-Name,Price,Discount,Description
0,SHAAH COLLECTIONS,₹198,88% off,"UV Protection, Polarized, Mirrored Rectangular..."
1,PIRASO,₹237,85% off,UV Protection Aviator Sunglasses (54)
2,Elligator,₹329,86% off,UV Protection Round Sunglasses (54)
3,kingsunglasses,₹284,89% off,"Mirrored, UV Protection Wayfarer Sunglasses (F..."
4,PIRASO,₹237,85% off,UV Protection Aviator Sunglasses (54)
...,...,...,...,...
96,Elligator,₹377,84% off,UV Protection Aviator Sunglasses (55)
97,kingsunglasses,₹284,81% off,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa..."
98,NuVew,₹375,64% off,"UV Protection Wayfarer, Rectangular Sunglasses..."
99,GANSTA,₹230,82% off,"UV Protection, Gradient Aviator Sunglasses (57)"
100,AISLIN,₹495,67% off,"UV Protection, Gradient Oval Sunglasses (58)"

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. from the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

#### Scrape:
1. Rating
2. Review_summary
3. Full review

In [329]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [332]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [333]:
# linking webpage to web driver
link= "https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(link)

In [334]:
# first we click on all reviews option:
search= driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
search.click()

In [335]:
# Creating empty lists:
Rating=[]
Review=[]
Freview=[]

In [340]:
for i in range(1,15):
    link="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(i)
    driver.get(link)
    time.sleep(3)
    
    rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    time.sleep(2)
    for i in rating:
        Rating.append(i.text)
        
    review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    time.sleep(1)
    for i in review:
        Review.append(i.text)
        
    freview=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    time.sleep(1)
    for i in freview:
        Freview.append(i.text)

In [344]:
# Creating DataFrame:
Attributes=pd.DataFrame({})
Attributes["Rating"]=Rating[:100]
Attributes["Summary"]=Review[:100]
Attributes["Full Review"]=Freview[:100]
Attributes

,Rating,Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
96,4,Must buy!,It’s an amazing product from apple and the cam...
97,5,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
98,5,Wonderful,I just directly switch from iphone 6s to iphon...
99,5,Perfect product!,After 1 month use I found camera quality best ...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#### You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [8]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [2]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [3]:
# linking webpage to web driver
link= "https://www.flipkart.com"
driver.get(link)

In [4]:
#Feeding text in  product search bar
keyword= driver.find_element_by_xpath("//input[@class='_3704LK']")
keyword.send_keys("sneekers")

In [5]:
# click on search option:
search= driver.find_element_by_xpath("//button[@type='submit']")
search.click()

In [6]:
# Creating empty list:
Brand=[]
Desc=[]
Price=[]
Dis=[]

In [12]:
# Scrapping the Data:
for i in range(1,4):
    link2="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(i)
    driver.get(link2)
    time.sleep(3)
    
    brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
        
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in desc:
        Desc.append(i.text)
        
    price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
        
    disc=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in disc:
        Dis.append(i.text)

In [14]:
# Creating DataFrame:
Sneekers=pd.DataFrame({})
Sneekers["Brand Name"]=Brand[:100]
Sneekers["Product Descriptions"]=Desc[:100]
Sneekers["Price"]=Price[:100]
Sneekers["Discount"]=Dis[:100]
Sneekers

,Brand Name,Product Descriptions,Price,Discount
0,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹536,66% off
1,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹379,70% off
2,Longwalk,Men Boxer Sneakers For Men,₹236,52% off
3,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
4,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
...,...,...,...,...
95,Treadfit,Modern & Trendy Collection Combo Pack of 02 Sh...,₹299,52% off
96,SPARX,Casual Sneakers White Shoes For Men And Boys S...,₹913,51% off
97,PUMA,casual for men Sneakers For Men,"₹1,400",60% off
98,SHOEFLY,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹362,53% off
99,Jokatoo,Luxury Fashionable casual sneaker shoes Sneake...,₹445,49% off

###  Q9. Scrape data of 100 Shoes from the link - https://www.myntra.com/shoes.
#### Attributes to scrape(Price:6871-13578, Color:Black):
1. Brand
2. Description
3. Price

In [15]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [16]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [17]:
# linking webpage to web driver
link= "https://www.myntra.com/shoes"
driver.get(link)

In [21]:
# Creating Price filter:
price=driver.find_element_by_xpath("//html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]")
price.click()

In [20]:
# Creating Color filter:
color= driver.find_element_by_xpath("//span[@data-colorhex='black']")
color.click()

In [22]:
# Creating Empty Lists:
Brand=[]
Des=[]
Price=[]

In [26]:
# Scrapping the Data:
for i in range(1,3):
    link2="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6871.0_13578.0_6871.0%20TO%2013578.0%2C6897.0_13595.0_6897.0%20TO%2013595.0"+str(i)
    driver.get(link2)
    time.sleep(3)
    
    brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in brand:
        Brand.append(i.text)
        
    des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in des:
        Des.append(i.text)
        
    price=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price:
        Price.append(i.text.replace('\n',""))

In [27]:
# Creating DataFrame:
Shoes=pd.DataFrame({})
Shoes["Brand Name"]=Brand[:100]
Shoes["Product Descriptions"]=Des[:100]
Shoes["Price"]=Price[:100]
Shoes

,Brand Name,Product Descriptions,Price
0,ALDO,Men Driving Shoes,Rs. 11999
1,Geox,Men Printed Slip-On Sneakers,Rs. 10999
2,Puma,Men Cell Fraction Fade Running,Rs. 6999
3,J.FONTINI,Men Black Leather Loafers,Rs. 8490
4,Puma,Men Velocity Nitro Running,Rs. 10999
...,...,...,...
95,PUMA Motorsport,Women BMW M Motorsport Shoes,Rs. 6999
96,ROSSO BRUNELLO,Men Leather Formal Loafers,Rs. 11999
97,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
98,ALDO,Women Sneakers,Rs. 11999
99,Saint G,Leather Block Sandals,Rs. 10355Rs. 10900(5% OFF)

### Q10. Scrape 10 Laptop data from https://www.amazon.in/ with CPU filters as  “Intel Core i7” and “Intel Core i9” 
#### Scrape below attributes:
1. Title
2. Rating
3. Price

In [1]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [17]:
#connecting web driver
driver= webdriver. Chrome(r'C:\Users\hifzu\Downloads\chromedriver.exe')

In [18]:
# linking webpage to web driver
link= "https://www.amazon.in/"
driver.get(link)

In [19]:
#Feeding text in search bar:
keyword= driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
keyword.send_keys("Laptop")

In [20]:
# submit the input text:
search=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search.click()

In [25]:
# Creating CPU filter “Intel Core i7”:
i7= driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']")
i7.click()

In [26]:

# Creating CPU filter “Intel Core i9”:
i9= driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']")
i9.click()

In [27]:
# Creating empty list
Title=[]
Price=[]
Rating=[]

In [30]:
# Scrapping Product name :
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

for k in title:
    Title.append(k.text.replace('\n',""))
    
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for k in price:
    Price.append(k.text.replace('\n',""))

    
rate=driver.find_elements_by_xpath("//span[@class='a-size-base']")
for k in rate:
    Rating.append(k.text.replace('\n',""))

In [31]:
# Creating DataFrame:
Laptop=pd.DataFrame({})
Laptop["Brand Name"]=Title[:10]
Laptop["Product Rating"]=Rating[:10]
Laptop["Price"]=Price[:10]
Laptop

                                          Brand Name Product Rating     Price
0  Dell XPS 9370 13.3-inch FHD Display Thin & Lig...             11  1,14,990
1  HP Envy 11th Gen Core i7 Processor 13.3-inch (...            231  1,23,350
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...            815    57,990
3  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....            101    77,990
4  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...             31  5,56,524
5  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....             29  1,07,990
6  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...              4    92,990
7  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...             66    98,500
8  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...             19  1,13,990
9  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...              2    74,990