#                                   Web Scraping Assignment

#1. display all the header tags from‘en.wikipedia.org/wiki/Main_Page’

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [161]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [142]:
soup=BeautifulSoup(page.content,'html.parser')

In [143]:
name = soup.find_all(['h1','h2','h3'])

In [144]:
header_tag = [] #empty list

for i in name:
    header_tag.append(i.text.replace("\n",""))

In [145]:
len(header_tag)

23

In [146]:
import pandas as pd

In [147]:
Wikipedia_header=pd.DataFrame({})
Wikipedia_header["header_tag"]= header_tag
Wikipedia_header

                       header_tag
0                       Main Page
1   From today's featured article
2                Did you know ...
3                     In the news
4                     On this day
5      From today's featured list
6        Today's featured picture
7        Other areas of Wikipedia
8     Wikipedia's sister projects
9             Wikipedia languages
10                Navigation menu
11                 Personal tools
12                     Namespaces
13                       Variants
14                          Views
15                           More
16                         Search
17                     Navigation
18                     Contribute
19                          Tools
20                   Print/export
21              In other projects
22                      Languages

#2. python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [8]:
page = requests.get("https://www.imdb.com/chart/top")
page

In [9]:
Soup = BeautifulSoup(page.content)

In [10]:
name = Soup.find_all("td", class_="titleColumn")

In [11]:
movie_name = [] #empty list

for i in name:
    movie_name.append(i.text)

In [12]:
movie_name = [] #empty list

for i in name:
    movie_name.append(i.text.replace("\n",""))

In [13]:
movie_name = [] #empty list

for i in name:
    for j in i.find_all("a"):
        movie_name.append(j.text.replace("\n",""))

In [14]:
#Year of release

release_year = Soup.find_all("span",class_="secondaryInfo")

In [15]:
Release_year = []
for i in release_year:
    Release_year.append(i.text)

In [16]:
#IMDb Rating
imdb_rating= Soup.find_all("td", class_="ratingColumn imdbRating")

In [17]:
Rating = [] #empty list

for i in imdb_rating:
    Rating.append(i.text.replace("\n",""))

In [19]:
Top_rated_movies=pd.DataFrame({})

Top_rated_movies["movie_name"]= movie_name[:100]
Top_rated_movies["Release_year"]=Release_year[:100]
Top_rated_movies["Rating"]=Rating[:100]
Top_rated_movies

                               movie_name Release_year Rating
0                The Shawshank Redemption       (1994)    9.2
1                           The Godfather       (1972)    9.1
2                  The Godfather: Part II       (1974)    9.0
3                         The Dark Knight       (2008)    9.0
4                            12 Angry Men       (1957)    8.9
..                                    ...          ...    ...
95                                 Jagten       (2012)    8.3
96                    Requiem for a Dream       (2000)    8.3
97                    Singin' in the Rain       (1952)    8.3
98                     North by Northwest       (1959)    8.3
99  Eternal Sunshine of the Spotless Mind       (2004)    8.3

[100 rows x 3 columns]

#3. python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [18]:
page = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

In [19]:
Soup = BeautifulSoup(page.content)

In [20]:
name = Soup.find_all("td", class_="titleColumn")

In [21]:
Movie_name = [] #empty list

for i in name:
    Movie_name.append(i.text)

In [22]:
Movie_name = [] #empty list

for i in name:
    Movie_name.append(i.text.replace("\n",""))

In [23]:
Movie_name = [] #empty list

for i in name:
    for j in i.find_all("a"):
        Movie_name.append(j.text.replace("\n",""))

In [24]:
rating = Soup.find_all("td",class_="ratingColumn imdbRating")

In [25]:
Rating = [] #empty list

for i in rating:
    Rating.append(i.text.replace("\n",""))

In [26]:
#release year
release_year= Soup.find_all("span", class_="secondaryInfo")

In [27]:
Year = [] #empty list

for i in release_year:
    Year.append(i.text.replace("\n",""))

In [28]:
Top_Indian_movie=pd.DataFrame({})
Top_Indian_movie["Movie_name"]= Movie_name[:100]
Top_Indian_movie['Rating']=Rating[:100]
Top_Indian_movie["Year"]=Year[:100]
Top_Indian_movie

                           Movie_name Rating    Year
0                             Nayakan    8.5  (1987)
1                          Anbe Sivam    8.5  (2003)
2                   Pariyerum Perumal    8.5  (2018)
3                             Golmaal    8.5  (1979)
4                   C/o Kancharapalem    8.5  (2018)
..                                ...    ...     ...
95                          Virumandi    8.1  (2004)
96  Lagaan: Once Upon a Time in India    8.1  (2001)
97                            Kahaani    8.1  (2012)
98           Uri: The Surgical Strike    8.1  (2019)
99                    Andaz Apna Apna    8.1  (1994)

[100 rows x 3 columns]

#4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [29]:
page = requests.get("https://bookpage.com/reviews?book_genre=fiction&page=1")
page

In [30]:
soup = BeautifulSoup(page.content)

In [31]:
name = soup.find_all("h4", class_="italic")

In [32]:
Book_name = [] #empty list

for i in name:
    Book_name.append(i.text.replace("\n",""))

In [33]:
author = soup.find_all("p",class_="sans bold")

In [34]:
Author = [] #empty list

for i in author:
    Author.append(i.text.replace("\n",""))

In [35]:
#Genre
genre= soup.find_all("p", class_="genre-links hidden-phone")

In [36]:
Genre = [] #empty list

for i in genre:
    Genre.append(i.text.replace("\n",""))

In [37]:
#Review
review= soup.find_all("p", class_="excerpt")

In [38]:
Review = [] #empty list

for i in review:
    Review.append(i.text.replace("\n",""))

In [39]:
Books=pd.DataFrame({})
Books["Book_name"]= Book_name[:5]
Books["Genre"]=Genre[:5]
Books["Review"]=Review[:5]
Books

,Book_name,Genre,Review
0,★ Light Perpetual,Audio / Fiction / Literary Fiction,"Featuring vibrant characters, all of whom have..."
1,★ More Than I Love My Life,Fiction / Family Drama,David Grossman is a sympathetic if unfailingly...
2,★ Gordo,Fiction / Short Stories,"As in John Steinbeck’s The Grapes of Wrath, th..."
3,Velvet Was the Night,Fiction / Noir,"For her next trick, Silvia Moreno-Garcia moves..."
4,★ In the Country of Others,Fiction / Literary Fiction,Leïla Slimani’s latest novel is the first volu...

#5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. Scrape below data:-

#i) Top 10 ODI teams in men’s cricket along with the records for matches, points andrating.

#ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

#iii) Top 10 ODI bowlers along with the records of their team andrating

#i.  Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [40]:

page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [41]:
soup=BeautifulSoup(page.content)

In [42]:
team=soup.find_all('span',class_='u-hide-phablet')

In [43]:
Team=[]
for i in team:
    Team.append(i.text.replace('\n',' '))

In [49]:
matches=soup.find_all('td',class_='table-body__cell u-center-text')
Matches=[]
Points=[]
j=0
Matches.append(soup.find('td',class_='rankings-block__banner--matches').text)
Points.append(soup.find('td',class_='rankings-block__banner--points').text)
for i in matches:
    if j==0 or j%2==0:
        Matches.append(i.text.replace('\n',''))
    else:
        Points.append(i.text.replace('\n',''))
    j+=1

In [ ]:


rating=soup.find_all('td',class_='table-body__cell u-text-right rating')

In [45]:
Rating=[]
Rating.append(soup.find('td',class_='rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ',''))
for i in rating:
    Rating.append(i.text.replace('\n','').replace(' ',''))

In [51]:
Top_teams =pd.DataFrame({})
Top_teams['Team']=Team[:10]
Top_teams['Matches']=Matches[:10]
Top_teams['Points']=Points[:10]
Top_teams['Rating']=Rating[:10]
Top_teams

           Team Matches Points Rating
0   New Zealand      17  2,054    121
1       England      32  3,793    119
2     Australia      28  3,244    116
3         India      32  3,624    113
4  South Africa      22  2,267    103
5      Pakistan      27  2,524     93
6    Bangladesh      29  2,639     91
7   West Indies      30  2,523     84
8     Sri Lanka      29  2,303     79
9   Afghanistan      17  1,054     62

#ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [53]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [54]:
soup=BeautifulSoup(page.content)

In [55]:
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')

In [56]:
Player=[]
Player.append(soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n',''))
for i in player:
    for j in i.find_all('a'):
        Player.append(j.text.replace('\n',' '))

In [57]:
rating=soup.find_all('td',class_='table-body__cell rating')

In [58]:
rating=soup.find_all('td',class_='table-body__cell rating')
Player_rating=[] #empty list
Player_rating.append(soup.find('div',class_='rankings-block__banner--rating').text.replace('\n','').replace(' ',''))
for i in rating:
    Player_rating.append(i.text.replace('\n','').replace(' ',''))

In [59]:
country=soup.find_all('span',class_='table-body__logo-text')
Country=[] #empty list
Country.append(soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','').strip())
for i in country:
    Country.append(i.text.replace('\n',''))

In [60]:
TopODI_batsman=pd.DataFrame({})
TopODI_batsman['Player']=Player[:10]
TopODI_batsman['Country']=Country[:10]
TopODI_batsman['Player_rating']=Player_rating[:10]
TopODI_batsman

            Player Country Player_rating
0       Babar Azam     PAK           873
1      Virat Kohli     IND           844
2     Rohit Sharma     IND           813
3      Ross Taylor      NZ           801
4      Aaron Finch     AUS           779
5   Jonny Bairstow     ENG           775
6     David Warner     AUS           762
7  Quinton de Kock      SA           758
8        Shai Hope      WI           758
9  Kane Williamson      NZ           754

#iii) Top 10 ODI bowlers along with the records of their team and rating

In [61]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [62]:
soup=BeautifulSoup(page.content)

In [63]:
bowler=soup.find_all('td',class_='table-body__cell rankings-table__name name')
Bowler=[]
Bowler.append(soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n',''))
for i in bowler:
    for j in i.find_all('a'):
        Bowler.append(j.text.replace('\n',' '))

In [64]:
rating=soup.find_all('td',class_='table-body__cell rating')
Player_rating=[]

Player_rating.append(soup.find('div',class_='rankings-block__banner--rating').text.replace('\n','').replace(' ',''))
for i in rating:
    Player_rating.append(i.text.replace('\n','').replace(' ',''))

In [65]:
country=soup.find_all('span',class_='table-body__logo-text')
Country=[]
Country.append(soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','').strip())
for i in country:
    Country.append(i.text.replace('\n',''))

In [66]:
TopODI_bowler=pd.DataFrame({})
TopODI_bowler['Bowler']=Bowler[:10]
TopODI_bowler['Country']=Country[:10]
TopODI_bowler['Player_rating']=Player_rating[:10]
TopODI_bowler

             Bowler Country Player_rating
0       Trent Boult      NZ           737
1    Josh Hazlewood     AUS           709
2  Mujeeb Ur Rahman     AFG           708
3      Chris Woakes     ENG           700
4      Mehedi Hasan     BAN           692
5        Matt Henry      NZ           691
6    Jasprit Bumrah     IND           679
7    Mitchell Starc     AUS           652
8   Shakib Al Hasan     BAN           650
9     Kagiso Rabada      SA           648

#6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:-

   #i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

   #ii) Top 10 women’s ODI players along with the records of their team and rating.

   #iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

#i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [67]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [68]:
soup=BeautifulSoup(page.content)

In [69]:
country=soup.find_all('span',class_='u-hide-phablet')
Country=[] #empty list
for i in country:
    Country.append(i.text.replace('\n',' '))

In [70]:
team_match=soup.find_all('td',class_='table-body__cell u-center-text')
Team_matches=[]
Team_points=[]
j=0
Team_matches.append(soup.find('td',class_='rankings-block__banner--matches').text)
Team_points.append(soup.find('td',class_='rankings-block__banner--points').text)
for i in team_match:
    if j==0 or j%2==0:
        Team_matches.append(i.text.replace('\n',''))
    else:
        Team_points.append(i.text.replace('\n',''))
    j+=1

In [71]:
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
Team_rating=[]
Team_rating.append(soup.find('td',class_='rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ',''))
for i in rating:
    Team_rating.append(i.text.replace('\n','').replace(' ',''))

In [72]:
WomanTop_ODIteam=pd.DataFrame({})
WomanTop_ODIteam['Country']=Country[:10]
WomanTop_ODIteam['Matches']=Team_matches[:10]
WomanTop_ODIteam['Team_points']=Team_points[:10]
WomanTop_ODIteam['Team_rating']=Team_rating[:10]
WomanTop_ODIteam

        Country Matches Team_points Team_rating
0     Australia      18       2,955         164
1       England      20       2,370         119
2  South Africa      24       2,828         118
3         India      23       2,535         110
4   New Zealand      21       1,947          93
5   West Indies      17       1,427          84
6      Pakistan      20       1,496          75
7    Bangladesh       5         306          61
8     Sri Lanka      11         519          47
9       Ireland       2          25          13

#ii) Top 10 women’s ODI players along with the records of their team and rating.

In [73]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [74]:
soup=BeautifulSoup(page.content)

In [75]:
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
Player=[]
Player.append(soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n',''))
for i in player:
    for j in i.find_all('a'):
        Player.append(j.text.replace('\n',' '))

In [76]:
rating=soup.find_all('td',class_='table-body__cell rating')
Rating=[]
Rating.append(soup.find('div',class_='rankings-block__banner--rating').text.replace('\n','').replace(' ',''))
for i in rating:
    Rating.append(i.text.replace('\n','').replace(' ',''))

In [77]:
country=soup.find_all('span',class_='table-body__logo-text')
Country=[]
Country.append(soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','').strip())
for i in country:
    Country.append(i.text.replace('\n',''))

In [78]:
Woman_TopODIbatsman=pd.DataFrame({})
Woman_TopODIbatsman['Player']=Player[:10]
Woman_TopODIbatsman['Country']=Country[:10]
Woman_TopODIbatsman['Rating']=Rating[:10]
Woman_TopODIbatsman

              Player Country Rating
0        Mithali Raj     IND    762
1        Lizelle Lee      SA    758
2       Alyssa Healy     AUS    756
3     Tammy Beaumont     ENG    754
4    Stafanie Taylor      WI    736
5        Meg Lanning     AUS    723
6  Amy Satterthwaite      NZ    715
7     Natalie Sciver     ENG    706
8    Smriti Mandhana     IND    701
9    Laura Wolvaardt      SA    683

#iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [79]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [80]:
soup=BeautifulSoup(page.content)

In [81]:
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
Player=[]
Player.append(soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n',''))
for i in player:
    for j in i.find_all('a'):
        Player.append(j.text.replace('\n',' '))

In [82]:
rating=soup.find_all('td',class_='table-body__cell rating')
Player_rating=[]
Player_rating.append(soup.find('div',class_='rankings-block__banner--rating').text.replace('\n','').replace(' ',''))
for i in rating:
    Player_rating.append(i.text.replace('\n','').replace(' ',''))

In [83]:
country=soup.find_all('span',class_='table-body__logo-text')
Country=[]
Country.append(soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','').strip())
for i in country:
    Country.append(i.text.replace('\n',''))

In [84]:
Woman_TopODIallrounder=pd.DataFrame({})
Woman_TopODIallrounder['Player']=Player[:10]
Woman_TopODIallrounder['Country']=Country[:10]
Woman_TopODIallrounder['Player_rating']=Player_rating[:10]
Woman_TopODIallrounder

             Player Country Player_rating
0    Marizanne Kapp      SA           418
1      Ellyse Perry     AUS           418
2   Stafanie Taylor      WI           394
3    Natalie Sciver     ENG           365
4     Deepti Sharma     IND           331
5     Jess Jonassen     AUS           307
6  Ashleigh Gardner     AUS           252
7  Dane van Niekerk      SA           243
8     Sophie Devine      NZ           242
9   Katherine Brunt     ENG           239

#7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in.

#The scraped data should include Product Name, Price, Image URL and Average Rating

In [148]:
page=requests.get('https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A-2000000&dc&qid=1627338005&rnid=1318502031&ref=sr_nr_p_36_1')
page

In [149]:
soup=BeautifulSoup(page.content)

In [150]:
name = soup.find_all('div',class_='a-section a-spacing-none a-spacing-top-small')

In [151]:
Product_name = [] #empty list

for i in name:
    Product_name.append(i.text)

In [152]:
Product_name=[]
for i in name:
    for j in i.find_all('span',class_='a-size-base-plus a-color-base a-text-normal'):
        Product_name.append(j.text.replace('\n',' '))

In [153]:
price=soup.find_all('span',class_='a-price-whole')

In [154]:
Price=[]
for i in price:
    Price.append(i.text.replace('\n',' '))

In [155]:
rating=soup.find_all('span',class_='a-icon-alt')

In [156]:
Rating=[]
for i in rating:
    Rating.append(i.text.replace('\n',''))

In [157]:
url=soup.find_all('img')
Image=[]
for i in url:
    Image.append(i['src'])

In [159]:
Mobile_list=pd.DataFrame({})
Mobile_list['Product_name']=Product_name[:23]
Mobile_list['Price']=price[:23]
Mobile_list['Rating']=Rating[:23]
Mobile_list['Image-url']=Image[:23]
Mobile_list

,Product_name,Price,Rating,Image-url
0,Redmi 9 Power (Mighty Black 4GB RAM 64GB Stora...,"[10,999]",4.2 out of 5 stars,https://images-eu.ssl-images-amazon.com/images...
1,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...","[13,499]",4.1 out of 5 stars,https://images-eu.ssl-images-amazon.com/images...
2,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","[6,999]",4.2 out of 5 stars,https://images-eu.ssl-images-amazon.com/images...
3,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...","[10,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71hEzQGO5q...
4,"Redmi 9A (Midnight Black, 2GB RAM, 32GB Storag...","[6,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/810GQ7CWdD...
5,Samsung Galaxy M21 2021 Edition (Charcoal Blac...,"[12,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
6,"Samsung Galaxy M21 2021 Edition (Arctic Blue, ...","[12,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71hEzQGO5q...
7,"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Sto...","[13,499]",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
8,"realme C11 (2021) (Cool Grey, 2GB RAM, 32GB St...","[6,999]",4.1 out of 5 stars,https://m.media-amazon.com/images/I/712+A5mH44...
9,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,"[6,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71hEzQGO5q...
10,"Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB ...","[17,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/810GQ7CWdD...
11,"Redmi Note 10 Pro (Glacial Blue, 6GB RAM, 128G...","[17,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
12,"Redmi Note 10S (Shadow Black, 6GB RAM, 64GB St...","[14,999]",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71hEzQGO5q...
13,"Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage)...","[12,490]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
14,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","[14,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/712+A5mH44...
15,"Redmi Note 10S (Deep Sea Blue, 6GB RAM, 64GB S...","[10,499]",4.1 out of 5 stars,https://m.media-amazon.com/images/I/811lrGbXwI...
16,"Samsung Galaxy M02s (Black,4GB RAM, 64GB Stora...","[13,499]",4.1 out of 5 stars,https://m.media-amazon.com/images/I/81vixbGM2E...
17,"Redmi 9 Power (Blazing Blue, 6GB RAM, 128GB St...","[10,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/618UBhFmaQ...
18,"Redmi 9 Power (Fiery Red, 4GB RAM, 64GB Storag...","[10,990]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
19,"OPPO A31 (Mystery Black, 4GB RAM, 64GB Storage...","[14,999]",4.2 out of 5 stars,https://m.media-amazon.com/images/I/81S-XYJlzT...
20,"Redmi Note 10S (Cosmic Purple, 6GB RAM, 64 GB ...","[11,999]",4.1 out of 5 stars,https://m.media-amazon.com/images/I/81nndQAg2n...
21,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","[19,999]",4.3 out of 5 stars,https://m.media-amazon.com/images/I/81R9c74pmD...
22,"Redmi Note 10 Pro Max (Dark Night, 6GB RAM, 12...","[11,999]",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71A9Vo1Bat...

#8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco.

#You need to extract data about 7 day extended forecast display for the city.

#The data should include period, short description, temperature and description.

In [102]:
page=requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YP9HIrritPY')
page

In [103]:
soup=BeautifulSoup(page.content)

In [104]:
period = soup.find_all("p", class_="period-name")

In [105]:
Period = [] #empty list

for i in period:
    Period.append(i.text)

In [106]:
desc = soup.find_all("p", class_="short-desc")

In [107]:
Short_description = [] #empty list

for i in desc:
    Short_description.append(i.text)

In [108]:
temp = soup.find_all("p", class_="temp")

In [109]:
Temp = [] #empty list

for i in temp:
    Temp.append(i.text)

In [110]:
forecast = soup.find_all("div", class_="col-sm-10 forecast-text")

In [111]:
Detailed_forecast = [] #empty list

for i in forecast:
    Detailed_forecast.append(i.text)

In [112]:
Weather_data=pd.DataFrame({})
Weather_data["Period"]= Period[:9]
Weather_data["Short_description"]=Short_description[:9]
Weather_data["Temp"]=Temp[:9]
Weather_data["Detailed_forecast"]=Detailed_forecast[:9]
Weather_data

,Period,Short_description,Temp,Detailed_forecast
0,Overnight,Cloudy,Low: 54 °F,"Cloudy, with a low around 54. West southwest w..."
1,Monday,GradualClearing,High: 65 °F,"Cloudy through mid morning, then gradual clear..."
2,MondayNight,IncreasingClouds,Low: 54 °F,"Increasing clouds, with a low around 54. West ..."
3,Tuesday,DecreasingClouds,High: 65 °F,"Mostly cloudy, then gradually becoming sunny, ..."
4,TuesdayNight,Partly Cloudy,Low: 53 °F,"Partly cloudy, with a low around 53. West sout..."
5,Wednesday,Mostly Sunny,High: 67 °F,"Mostly sunny, with a high near 67."
6,WednesdayNight,Mostly Clear,Low: 55 °F,"Mostly clear, with a low around 55."
7,Thursday,Sunny,High: 72 °F,"Sunny, with a high near 72."
8,ThursdayNight,Mostly Clear,Low: 56 °F,"Mostly clear, with a low around 56."

#9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’.

   #It should include job title, company name, CTC, and apply date

In [113]:
page=requests.get("https://internshala.com/fresher-jobs")
page

In [114]:
soup = BeautifulSoup(page.content)

In [115]:
job = soup.find_all("div", class_="heading_4_5 profile")

In [116]:
Job_title = [] #empty list

for i in job:
    Job_title.append(i.text.replace("\n",""))

In [117]:
cname = soup.find_all("div",class_="heading_6 company_name")

In [118]:
Company_name = [] #empty list

for i in cname:
    Company_name.append(i.text.strip())

In [119]:
ctc=soup.find_all('div',class_='item_body')

In [120]:
CTC=[]
for i in ctc:
    CTC.append(i.text.strip())

In [121]:
last_date=soup.find_all('div',class_='item_body')

In [122]:
Last_date=[]
for i in last_date:
    Last_date.append(i.text.strip())

In [123]:
Fresher_JOB=pd.DataFrame({})
Fresher_JOB['Job_title']=Job_title[:39]
Fresher_JOB['Company_name']=Company_name[:39]
Fresher_JOB['CTC']=CTC[4::3][:39]
Fresher_JOB['Last_date']=Last_date[5::3][:39]
Fresher_JOB

,Job_title,Company_name,CTC,Last_date
0,OMNI SPORT LEADER,Decathlon Sport India Private Limited,3 - 4.2 LPA,11 Sep' 21
1,Executive/Senior Executive - Partnerships,Freecharge Payments Technology Private Limited,3 - 3.5 LPA,11 Sep' 21
2,Executive - Sales,Freecharge Payments Technology Private Limited,3 - 4 LPA,4 Sep' 21
3,Junior Operations Executive,Freecharge Payments Technology Private Limited,3.25 - 3.75 LPA,22 Sep' 21
4,Software Developer Trainee,Pinnacle Software And Services Private Limited,3 - 3.5 LPA,22 Sep' 21
5,UI/UX Designer,Masterstroke Media Private Limited,3 - 5 LPA,22 Sep' 21
6,Business Development Associate,Karmic Seed,3 - 3.2 LPA,22 Sep' 21
7,Embedded Systems Associate,Embedded Technosolutions,3 - 5 LPA,22 Sep' 21
8,Digital Marketing Executive,Triny.io,3 - 5 LPA,22 Sep' 21
9,Node.js & React.js Developer,Saino First Network Private Limited,5 - 6.5 LPA,22 Sep' 21
10,Front-End Engineer,AffinityAnswers,3 - 5 LPA,22 Sep' 21
11,Business Development Manager,Sweatbath Technologies Private Limited (Gymshim),3 - 4.5 LPA,21 Sep' 21
12,Business Development Associate,Kaizen Academy,4.5 - 6.5 LPA,21 Sep' 21
13,Full Stack Developer,Novolytics,3 - 3.1 LPA,21 Sep' 21
14,Junior Corporate Sales Executive,Anuhar Homes,3 - 6 LPA,20 Sep' 21
15,Django/Python Developer,OPSKUBE,3 - 3.36 LPA,20 Sep' 21
16,Business Correspondent,IPP Catalog Publications PL,5 LPA,20 Sep' 21
17,Software Developer,Recruit CRM,3 - 3.6 LPA,20 Sep' 21
18,Operations Manager,CloudKrate Solutions Private Limited,3 LPA,20 Sep' 21
19,Python Developer,Incrivelsoft Private Limited,3 - 5 LPA,20 Sep' 21
20,Embedded Systems Associate,MS Technologies,3 - 3.5 LPA,20 Sep' 21
21,PHP And Moodle Developer,Koneru Bhaskara Rao & Hemalata Human Developme...,5.5 - 6.1 LPA,20 Sep' 21
22,Content Creator,Wono Inc,5.1 - 5.5 LPA,20 Sep' 21
23,Marketing Assistant,Wono Inc,3 - 10 LPA,19 Sep' 21
24,Full Stack Developer - Founders Office,LetsDressUp,3 - 3.5 LPA,19 Sep' 21
25,Software Developer - Java,WebBee Global,3 - 3.2 LPA,19 Sep' 21
26,Associate Software Developer,Durvesh Santosh Naik,3 - 7 LPA,19 Sep' 21
27,Front End Developer,Ninjaas Labs Private Limited,3.6 - 7.2 LPA,19 Sep' 21
28,Junior Software Developer,Nexweave Technologies Private Limited,3 - 5 LPA,19 Sep' 21
29,Graphic Designer,Fourth Frontier,3 - 8 LPA,19 Sep' 21
30,Three.js Developer Trainee,Thinqbot Technologies Private Limited,3 - 8 LPA,19 Sep' 21
31,Full Stack Developer Trainee,Thinqbot Technologies Private Limited,4 - 5 LPA,22 Sep' 21
32,Immigration Consultant,Novus Immigration Services Private Limited,4.2 - 4.8 LPA,19 Sep' 21
33,Software Developer - Backend,COSGrid Systems Private Limited,3 - 3.5 LPA,19 Sep' 21
34,Digital Marketing Executive,21K School,3.6 - 6 LPA,18 Sep' 21
35,Lifestyle Manager,Pinch Lifestyle Services Private Limited,3 - 3.6 LPA,18 Sep' 21
36,Marketing Campaign Manager,Create My Content,3 - 5 LPA,18 Sep' 21
37,Business Development Associate,Collegepond Counsellors Private Limited,3 LPA,18 Sep' 21
38,Telecaller,Diya India Foundation,3 LPA,18 Sep' 21

#10. Write a python program to scrape house details from https://www.nobroker.in/ for any location.

#It should include house title, location, area, emi and price

In [124]:
page=requests.get("https://www.nobroker.in/property/sale/delhi/Okhla?searchParam=W3sibGF0IjoyOC41NjI1NTE4LCJsb24iOjc3LjI5MTM3MjksInBsYWNlSWQiOiJDaElKbl9PakduWGtERGtSZlp5ajYwZnRFRnciLCJwbGFjZU5hbWUiOiJPa2hsYSJ9XQ==&radius=2.0")
page

In [125]:
soup=BeautifulSoup(page.content)

In [126]:
advert = soup.find_all("h2")

In [127]:
Advert_name= [] #empty list

for i in advert:
    Advert_name.append(i.text)

In [128]:
location=soup.find_all('div',class_='nb__2CMjv')

In [129]:
Location=[]
for i in location:
    Location.append(i.text.replace('\n',' '))

In [130]:
area = soup.find_all("div",class_="nb__3oNyC")

In [131]:
Area=[]
for i in area:
    Area.append(i.text.replace('\n',' '))

In [132]:
emi=soup.find_all('div',class_='font-semi-bold heading-6')

In [133]:
EMI=[]
for i in emi:
    EMI.append(i.text.replace('\n',' '))

In [134]:
nobroker=pd.DataFrame({})
nobroker['Advert_name']=Advert_name
nobroker['Location']=Location
nobroker['Area']=Area
nobroker['EMI']=EMI[1::3]
nobroker['Price']=EMI[2::3]
nobroker

,Advert_name,Location,Area,EMI,Price
0,"2 BHK Flat For Sale In Abul Fazal Enclave, O...","Jamia Nagar, Okhla, Delhi, INDIA.",650 sqft,"₹18,340/Month",₹32 Lacs
1,2 BHK Flat For Sale In Ahmad Appartemnt In O...,"Jamia Nagar, near Jama Masjid Kahkashan",585 sqft,"₹17,767/Month",₹31 Lacs
2,3 BHK Flat For Sale In Okhla Vihar,"Standalone Building, Okhla Vihar","1,000 sqft","₹33,242/Month",₹58 Lacs
3,2 BHK Flat For Sale In Khan&#39;s Comfort Ho...,Near Children's Park,910 sqft,"₹33,242/Month",₹58 Lacs
4,2 BHK Flat For Sale In Shaheen Bagh In Shahe...,near ek minara masjid,500 sqft,"₹11,462/Month",₹20 Lacs
5,3 BHK Flat For Sale In Standalone Builidng ...,Okhla road near Delhi Government Dispensary,"1,100 sqft","₹28,084/Month",₹49 Lacs
6,3 BHK Flat For Sale In Shaheen Bagh,"Standalone Building, Jasola Vihar Main Rd near...","1,125 sqft","₹45,851/Month",₹80 Lacs
7,2 BHK Flat For Sale In Dda Flats In Okhla,"Sukhdev Vihar, DDA Flats","1,112 sqft","₹57,314/Month",₹1 Crore
8,2 BHK Flat For Sale In Okhla,"Standalone Building, R Block, Jogabai Extensio...",432 sqft,"₹7,164/Month",₹12.5 Lacs
9,4 BHK Flat For Sale In Okhla,"Standalone Building, Zakir Nagar Main Rd, Bloc...","1,800 sqft","₹34,388/Month",₹60 Lacs